body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

}
html,body {
    margin: 0px;
}

.header{
    background-color: #1F2937;
    margin: 0;
    padding-left: 150px;
    padding-right: 150px;
    border: 0;
}

.logo {
    width:70px;
    height:auto;
    padding-right: 3px;
    margin: 10px 0px 10px 0px;
}

.logo-text{
    font-size: 24px;
    color: #e5e7eb; 
    font-family: 'Space Mono', monospace;
    margin-left: -50px;
    padding-top: 20px;
}

.first-line{
    display: flex;
    
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
        
}
.links{
    margin-left: auto;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

h3{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0
}

p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.header-image{
  height: 310px;
  width: auto;
  max-width: 500px;
}

.header-secondary{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
}

.header-text{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap:10px;
}

.sign-up{
    background-color: #3882f6;
    color:#e5e7eb;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    border: none;
    border-radius: 8px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    align-self: flex-start;
}
.middle-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-bottom: 100px;
}

.information-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color:#1F2937;
    padding:30px;
}

.image-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    
}

.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: auto;
    width: 200px;
    

}


.image-container{
    width: 200px;
}

.middle-image{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
}

.middle-text{
    font-size: 16px;
    color: #1F2937;
    width: 200px;
}

.footer{
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    border: 0;

}

